#tituloForum{
    padding-left: 8rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #DF4C83;
}

#tituloForum::before{
    content: '';
    position: absolute;
    margin-top: 3.3rem;
    width: 25%;
    height: 3px;
    border-radius: 5px;
    background-color: #DF4C83;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#tituloForum:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#forumContainer{
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 10rem;
}

.post{
    border: pink solid 0.4rem;
    border-radius: 5rem;
    padding: 2rem 4rem 3rem 4rem;
    margin: 3rem 0rem 3rem 0rem;
}

.adicionarPostDIv{
    text-align: left;
    margin: 3rem 3rem 3rem 1rem;
}

.adicionarPostBtn{
    border: none;
    background-color: #DF4C83;
    font-size: larger;
    padding: 0.8rem;
    border-radius: 1.2rem;
    color: white;
    font-family: "mulish";
    cursor: pointer;
}

.adicionarPostBtn:hover{
    background-color: #f56399;
    transform: translateY(-0.2rem);
    box-shadow: rgb(104, 76, 92) 0rem 0.2rem 0.3rem;
}

.adicionarPostBtn:active{
    background-color: #ce2c67;
    transform: translateY(0.2rem);
    box-shadow: none;
}

.curtidas{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.curtidasTexto{
    color: gray;
}

.curtidaBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.imgBtnCurtida{
    width: 60%;
    transition: transform 0.1s ease-in-out;
}

.imgBtnCurtida:hover{
    filter: brightness(105%);
    transform: scale(1.1);
}

.imgBtnCurtida:active{
    filter: brightness(100%);
    transform: scale(1);
}