@font-face {
    font-family: 'Dynalight';
    src: url('../fonts/Dynalight-Regular.ttf');
}
/* inicio sobre nós */
#imagens-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 10rem 4.5rem 10rem;
}

#imagens-sobre img {
    width: 18%;
    border-radius: 30%;
    transition: transform 0.3s ease-in-out;
}

#imagens-sobre img:hover {
    transform: scale(1.2);
}


#paragrafo-sobre {
    text-align: center;
    color: black;
    margin: 0 10rem 5rem 10rem;
    font-size: 1.2rem;
}

#titulo-sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-donas {
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
    color: #DF4C83;
    margin: 2rem;
    padding: 1rem;
    height: 3.5rem;
}

#leilas:after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 90%;
    margin-left: 55%;

}

#titulo-donas:hover{
    #leilas{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    }
    
    #leilas:after {
        width: 47%;
        height: 4px;
        background-color: #DF4C83;
    }

} 

#fraseLogo{
    margin: 0.5rem;
    font-family: 'Dynalight';
    color: #DF4C83;
    font-size: 3rem;
    letter-spacing: 0.08rem;
}

/* fim sobre nós */